/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

@media screen and (max-width: 1200px) {
  .App {
    grid-template-columns: 6fr 4fr;
  }
}

@media screen and (max-width: 550px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .chat {
    height: auto !important;
    position: static;
    visibility: visible;
  }
}

.stream {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}

.video-wrap {
  position: relative;
}

.stream iframe {
  width: 100%;
  flex: 1;
  height: 100%;
  max-height: 600px;
}

.stream img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.item {
  height: 100%;
  flex-direction: column;
}

.chat {
  height: 100vh;
}

.chat .item .top {
  padding: 20px 0;
}

.top h5 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 600px;
}

.top span {
  color: #bdbac2;
  font-size: 15px;
  display: block;
}

.top .sb-avatar {
  margin-right: 15px;
}

svg {
  width: 24px;
  height: 24px;
  fill: rgba(255,255,255,.45)
}

.headline {
  display: flex;
  align-items: center;
}

.headline img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 15px;
}

.middle {
  width: 100%;
  height: calc(100vh - 201px) !important;
}

.emoji-mart {
  position: absolute;
  top: -400px;
  right: 0;
}

.bottom {
  border-top: 2px solid rgba(255,255,255,.03);
  padding-top: 20px;
  position: relative;
}

.bottom textarea {
  padding: 15.5px 120px 15.5px 20px;
  height: 55px;
  resize: none;
  margin-bottom: 0 !important;
}

.bottom .icons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.chat .item .middle ul > li {
  justify-content: flex-start;
  text-align: left;
  position: relative;
}

.chat .item .middle ul > li.user {
  justify-content: flex-end;
  text-align: right;
}

.chat .item .middle ul > li .bubble {
  background-color: #38373a;
}

.chat .item .middle ul > li .bubble p {
  color: rgba(255,255,255,.45);
  padding: 10px !important;
  font-size: 15px;
}

.chat .item .middle ul > li.user .bubble {
  background-color: #007bff;
}

.chat .item .middle ul > li.user .bubble p {
  color: #fff;
}

.user .sb-avatar {
  order: 3;
  margin-left: 15px;
  margin-right: 0;
}

.sb-avatar {
  margin-right: 15px;
  margin-left: 0;
}

.sb-avatar span {
  margin-top: 0 !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.microlink_card {
  max-width: 350px !important;
  height: 300px !important;
  margin-bottom: 15px;
}

.microlink_card p {
  color: #333 !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin-bottom: 10px !important;
}
.microlink_card__content_title p {
  font-weight: 700 !important;
}

.microlink_card__content_description  p {
  font-size: 14px !important;
  line-height: 1.2 !important;
}

.microlink_card__content_url p {
  font-size: 12px !important;
}

.embedded-link {
  text-decoration: underline;
}

.meta {
  margin-top: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta span {
  margin-top: 0 !important;
  margin-left: 20px;
}

.bubble, .media {
  margin-bottom: 15px;
}

.image-attachment {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  border-radius: unset !important;
}

.fileContainer p {
  color: #333 !important;
}

.emoji-reactions {
  position: relative;
}

.emoji-reactions button {
  display: none;
  border: none;
  background-color: transparent;
}

.emoji-reactions svg {
  width: 20px;
  height: 20px;
}

.chat .item .middle ul > li:hover .reactions {
  visibility: visible;
}

.reactions {
  display: flex;
  visibility: hidden;
  align-items: center;
  padding: 0 10px;
  font-size: 40px;
  height: 30px;
  border-radius: 30px;
  z-index: 5;
  left: -150px;
  background-color: #fff;
}

.reactions span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  margin: 0 !important;
  cursor: pointer;
}

.twemoji {
  width: 20px !important;
  height: 20px !important;
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.time {
  margin-top: 0 !important;
}

.bottom > div {
  position: absolute;
  top: -300px;
  right: 10px;
  width: 350px;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  z-index: 5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bottom > div button {
  display: none;
}

.bottom > div ul {
  max-height: 240px;
}

.icons svg {
  width: 18px;
  height: 18px;
}

.gif-picker {
  font-size: 14px;
  color: #8c8c8e;
  padding-bottom: 3px;
}

.gif-picker:hover {
  color: #8c8c8c;
}
